
#programme div {
    display: flex;
    width: 100%;
}

#programme > div {
    overflow: hidden;
    z-index: 1;
}

.swiper-wrapper {
    display: flex;
}

.swiper-wrapper .swiper-slide {
    flex-direction: column;
    padding: 2rem 5rem;
    border: 0.1rem solid rgba(0,0,0,.2);
    border-radius: 0.5rem;
}

.swiper-button-next, .swiper-button-prev {
    padding: 2rem;
}

.program-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.program-text h1 {
    color: hsl(270, 9%, 17%);
    font-size: xxx-large;
    font-size: 3rem;
}

.program-text h2 {
    color: hsl(256, 26%, 20%);
    font-size: xx-large;
    font-size: 2rem;
}

.program-text h3{
    color: hsl(227, 12%, 61%);
    font-family: 'Karla', sans-serif;
    font-size: larger;
    font-size: 1.2rem;
    font-weight: bold;
}